@font-face {
    font-family: 'Pixelmania';
    src: url(../assets/fonts/Pixelmania.ttf);
}

@font-face {
    font-family: 'easvhs';
    src: url(../assets/fonts/easvhs.ttf);
}

$pixelBig : 'Pixelmania';
$pixelSm : 'easvhs';
$courier :'Courier New', Courier, monospace ;
