.card {
    position: relative;
    list-style: none;
    text-align: center;
    aspect-ratio: 5 / 7;
    cursor: pointer;
    transition: transform .3s ease, opacity 1s ease;

    &-front,
    &-back {
        position: absolute;
        padding: 2rem;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border: 10px solid white;

        @include flex(space-between, center, 0, column);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: transform .3s ease;
        box-shadow: 0px 0px 10px #b3a27a;

        
    }

    &-front {
        background: rgb(213,207,203);
        background-image: linear-gradient(149deg, rgb(225, 216, 210) 0%, rgba(241,231,201,1) 50%, rgba(219,241,246,1) 100%);
        z-index: 1;
        
        &__name {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: normal;
            margin-bottom: 0;
        }
    
        &__img {
            height: 180px;
            margin: auto;
            background: rgb(192,179,170);
            background: radial-gradient(circle, rgb(179, 167, 160) 0%, rgba(216, 223, 223, 0) 60%, rgba(237, 227, 203, 0) 100%);
        }

        &__heart {
            color: #b7b5b3;
            padding: 2rem;
            position: absolute;
            bottom: 0;
            background-image: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0) 50%);

            &--liked {
                color: #f47469;
                animation-fill-mode: none;
            }
        }
    }

    &-back {
        background: rgb(213,207,203);
        background-image: linear-gradient(149deg, rgb(225, 216, 210) 0%, rgba(241,231,201,1) 50%, rgba(219,241,246,1) 100%);
        z-index: -1;

        &-txt {
            text-align: left;
            @include flex(initial, flex-start, 1rem, column);
        }

        

    } 

    &:hover {
        transform: scale(1.05);
    }
}

.flip {
    transform: rotateY(180deg);


}