.header {
    position: relative;

    &-iconswrap {
        @include flex(space-between, center);

        img {
            width: 40px;
            cursor: pointer;
        }

        &-left {
            @include flex(center, baseline, 1rem);
        }
    }

    &__frame {
        width: 35px;
        margin-right: 1rem;
    }

    &__cam {
        cursor: pointer;
    }
    &-heart {
        cursor: pointer;

        &__icon {
            // width: 40px;
            
        }

        
    }
}