.header {
    position: relative;

    &__frame {
        width: 35px;
        margin-right: 1rem;
        cursor: pointer;
    }

    &__cam {
        width: 50px;
        cursor: pointer;
    }
    &-heart {
        position:absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &__icon {
            width: 40px;
            
        }

        
    }
}