.header {
    position: relative;

    &-iconswrap {
        @include flex(space-between, center);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 999;
        background-color: $cream;

        img {
            width: 40px;
            cursor: pointer;
        }

        &-left {
            @include flex(center, baseline, 1rem);
        }
    }

    &__frame {
        width: 35px;
        margin-right: 1rem;
    }

    &__cam {
        cursor: pointer;
    }
    &-heart {
        cursor: pointer;

        
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
        margin-top: 4rem;
        line-height: 1.6;

    }
    
}

@media screen and (max-width: 900px) {
    .header__title {
        font-size: 2.3rem;
        margin-top: 2.5rem;
    }
}
