.pics {
    visibility: hidden;
    width: 0px;
    height: 0px;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
    background-color: white;
    border: 4px solid $darkBrown;
    padding: 3rem;
    text-align: center;
    @include flex(space-between, center, 0rem, column);

    &--visible {
        visibility: visible;
        animation: openModal .5s ease forwards;
    }

    &__close {
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__title {
        font-size: 2rem;
    }

    &-pic {
        height: clamp(0px, 80%, 400px);
        width: clamp(0px, 50%, 300px);
        padding: 1rem;
        position: relative;
        border: 2px solid black;
        @include flex(space-around, center, 0, column);

        &-arrows {
            display: flex;
            width: 150%;
            justify-content: space-between;
            position: absolute;
            top: 40%;

            &__arrow {
                cursor: pointer;
            }
        }

        &-image {
            height: 75%;
            width: 100%;
            background-image: url('../assets/img/bgd-2.jpg');
            background-size: cover;
            position: relative;
            overflow: hidden;

            &__poke {
                cursor: pointer;
                position: absolute;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
            }
        }

        &-btn {
            height: 4rem;
            width: 4rem;
            border: 2px solid black;
            border-radius: 50%;
            cursor: pointer;
            background-color: #dfdfdf;
        }
    }
}

@keyframes openModal {
    0% {width: 0px; height: 0px; opacity: 0;}
    100% {width: 700px; height: 600px; opacity: 1;}
}