body {
    font-family: $pixelSm;
    font-size: 16px;
    background-color: $cream;
    color: $darkBrown;
    position: relative;
}

* {
    scrollbar-width: thin;
    scrollbar-face-color: blue;

}
.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    font-family: $pixelBig;
}

h2 {
    font-family: $pixelSm;
}

